1.	Write a Python program to accept a string tvalue from the user and display the count of each character in that string.

In [1]:
# 1
word='malayalam'
def count_character(word):
    for character in set(word):
        count_character = word.count(character)
        print(character, '=' ,count_character)
print(word)
count_character(word)

malayalam
m = 2
y = 1
l = 2
a = 4

2. Write a Python function to find the maximum of three numbers

In [ ]:
#2
def maximum(a,b,c):
    if (a>b and a>c):
        print(a)
    elif b>c:
        print(b)
    else:
        print(c)

maximum(45,34,29)

45

3. WriteaPythonfunctioncalledexponent(base,exp)thatreturnsaninteger value of base raises to the power of exp.

In [ ]:
#3
def exponent(base,exp):
    print('Enter the base:',base)
    print('Enter the exponent:',exp)
    result= base**exp
    print(result)

exponent(2,3)

Enter the base: 2
Enter the exponent: 3
8

4.	Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than
the specified number.

In [ ]:
#4
def cube_sum(num):
    sum_num=((num-1)*num/2)**2
    return int(sum_num)

cube_sum(4)

36

 5.	Write a Python program which iterates from 1 to 10. For multiples of 2,print“Fizz”instead of the number and for the multiples of 5,print“Buzz”.For numbers which are multiples of both 2 and 5,print “FizzBuzz”.

In [ ]:
#5
for x in range(1,11):
	if (x%2==0 and x%5==0):
		print("BussFizz")
	elif x%5==0:
		print("Buzz")
	elif x%2==0:
		print("Fizz")
	else:
		print(x)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
BussFizz

6.	Write a Python program to find the most frequent item in a list of numbers.

In [ ]:
#6
def most_frequent(List):
    counter=0
    num=List[0]

    for i in List:
        curr_freq=List.count(i)
        if (curr_freq>counter):
            counter=curr_freq
            num=i
    return num

List=[2,4,3,3,2,3,5,3,4]
print(most_frequent(List))

3


7.	Write a Python program to find the sum of squares of the numbers in a list.

In [ ]:
#7
List=[2,1,3,1]
sum_square=[]
for i  in List:
    sum_square.append(i**2)
print(sum(sum_square))

15


8.	Write a Python program using for loop that will iterate from 1 to 15. For each iteration,check if the current number is odd or even,and display the message to the screen as odd or even.

In [2]:
#8
for i in range(1,16):
    if i%2==0:
	    print(i,"- even")
    else:
	    print(i,"- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd


9.	Write a Python program to convert temperatures to and from CelsiusFahrenheit.[Formula:c/5=f-32/9 where c=temperature in Celsius and f=temperatureinFahrenheit.]

In [ ]:
#9
def con_to_celsius(fahrenheit):
    return (fahrenheit-32)*5/9
fahrenheit=int(input('temperature in fahrenheit: '))
print(con_to_celsius(fahrenheit))

temperature in fahrenheit: 41
5.0

10. Write a Python function to calculate the factorial of a number (a non negative integer). The function accepts the number as an argument.

In [ ]:
# 10
def factorial(n):
     if n==0:
         return 1
     return n* factorial(n-1)
number=3
print(number)
factorial(number)

3

6